* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: rgb(0, 0, 0);
  font-size: 27px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
a {
  margin-left: 20px;
  color: #f8f8f8;
  text-decoration: none;
}
.header {
  font-size: 90px;
  margin-top: 190px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.center_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  text-align: center;
  max-width: fit-content;
}
.intro {
  text-align: center;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(32, 32, 32);
}
.intro2 {
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(43, 43, 43);
}
p {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(63, 63, 63);
}
.intro3 {
  font-size: 100px;
  text-align: center;
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
}
.prg {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}
.unordered_list {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 40px;
  margin-right: 40px;
  overflow: hidden;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 20px;
}
.contacts {
  text-align: center;
  margin-top: 50px;
  font-size: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#contactForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
